.main-page {
    @include flex;

    flex-direction: column;
    row-gap: 3px;
    padding: 10px 0;

    &_mg-l-r-5 {
        margin: 0 5px;
    }

    &__section {
        & a {
            display: block;
            background: linear-gradient(180deg, rgb(234,242,255), rgb(226,239,238));
            padding: 5px;
            border-radius: 10px;
            color: $main-page-section-color;
            border: 1px solid $main-page-section-border-color;

            &:hover {
                background: linear-gradient(180deg, rgb(181, 209, 253), rgb(64, 255, 239));
            }
        }
    }
}
