header {
    background-color: $header-background-color;
    color: $header-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: end;
    padding: 10px;
}