.response-message {
    font-size: .9rem;
    text-align: center;
    padding: 5px;

    &__successfully {
        background: $response-success-color;
    }

    &__error {
        background: $response-error-color;
    }
}